<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    <header id="header">
        <div class="container">

            <h1><a href="/">{{site.name}}</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            {% if site.logo %}
            <a href="index.html" class="mr-auto"><img src="{{site.logo}}" alt="" class="img-fluid"></a>
            {% endif %}

            {% include nav.html %}

            {% include social-links.html %}

        </div>
    </header>

    {{content}}

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>
</body>

</html>